@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	word-wrap: break-word;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.3);
}

.ant-drawer-close {
	color: white;
}

.fixed-bottom {
	bottom: 0;
	left: 0;
}

.main-background {
	background: rgb(27, 27, 27);
	background: linear-gradient(
		180deg,
		rgba(27, 27, 27, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	min-height: 100vh;
}

.my-bg-dark-gray {
	background: #181818;
}

.my-moon-white-border {
	border-color: #303030;
}

.main-margin {
	margin: 0 2rem;
}

.pointer {
	cursor: pointer;
}

.resume-title {
	font-size: 6rem;
}

.w-48 {
	width: 48%;
}

@media (min-width: 980px) {
	.main-margin {
		margin: 0 15rem;
	}

	.resume-title {
		font-size: 12rem;
	}
}

@media (min-width: 1280px) {
	.main-margin {
		margin: 0 30rem;
	}
}
