@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

.ant-drawer-close {
	color: white;
}

.fixed-bottom {
	bottom: 0;
	left: 0;
}

.home-button {
	justify-content: center;
}

.main-background {
	background: rgb(27, 27, 27);
	background: linear-gradient(
		180deg,
		rgba(27, 27, 27, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	min-height: 100vh;
}

.pointer {
	cursor: pointer;
}

@media (min-width: 980px) {
	.home-button {
		justify-content: flex-start;
	}
}
